{% extends 'layout.html' %}

{% block navbar %}
    <ul>
        <li class="tm-nav-item active"><a href="index.html" class="tm-nav-link">
            <i class="fas fa-home"></i>
            Home
        </a></li>
        <li class="tm-nav-item"><a href="post.html" class="tm-nav-link">
            <i class="fas fa-pen"></i>
            Escrever Post
        </a></li>
        <li class="tm-nav-item"><a href="about.html" class="tm-nav-link">
            <i class="fas fa-users"></i>
            Palavras chaves
        </a></li>
        <li class="tm-nav-item"><a href="contact.html" class="tm-nav-link">
            <i class="far fa-comments"></i>
            Meus posts
        </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row tm-row">
        <div class="col-12">
            <form method="GET" class="form-inline tm-mb-20 tm-search-form">                
                <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                <button class="tm-search-button" type="submit">
                    <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                </button>                                
            </form>
        </div>                
    </div>    

    <div class="row tm-row">
        {% for post in posts %}
            <article class="col-12 col-md-12 tm-post">
                <hr class="tm-hr-primary">
                <a href="/posts/{{ post.pk }}" class="effect-lily tm-post-link tm-pt-10">
                    <h2 class="tm-color-primary tm-post-title">{{ post.title }}</h2>
                </a>                    
                <p>
                    {{ post.content|safe }}
                </p>
                <div class="d-flex justify-content-between">
                    <span class="tm-color-primary">{{post.keyWords}}</span>
                    <span class="tm-color-primary">Created: {{ post.created_at }}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>by {{ post.author.get_full_name }}</span>
                    <span>Last Update: {{ post.update_at }}</span>
                </div>
            </article>
        {% endfor %}
    </div>

    <div class="row tm-row tm-mt-100 tm-mb-75">
        <div class="tm-prev-next-wrapper">
            <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
            <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
        </div>
        <div class="tm-paging-wrapper">
            <span class="d-inline-block mr-3">Page</span>
            <nav class="tm-paging-nav d-inline-block">
                <ul>
                    <li class="tm-paging-item active">
                        <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                    </li>
                    <li class="tm-paging-item">
                        <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                    </li>
                    <li class="tm-paging-item">
                        <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                    </li>
                    <li class="tm-paging-item">
                        <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                    </li>
                </ul>
            </nav>
        </div>                
    </div>   
{% endblock %}