{% extends 'layout.html' %}

{% block navbar %}
    <ul>
        <li class="tm-nav-item">
            <a href="/" class="tm-nav-link">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="tm-nav-item">
            <a href="../newPost/" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                Escrever Post
            </a>
        </li>
        <li class="tm-nav-item active">    
            <a href="." class="tm-nav-link">
                <i class="fas fa-users"></i>
              Palavras chaves
            </a>
        </li>
        <li class="tm-nav-item">
            <a href="#" class="tm-nav-link">
                <i class="far fa-comments"></i>
                -
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row tm-row">
        <div class="col-12">
            <form method="GET" class="form-inline tm-mb-20 tm-search-form">   
                    <input type="checkbox" id="kwCheck" name="kwCheck" checked>
                    <label for="kwCheck" class='tm-mr-20'>KeyWords</label>       
                    <input type="checkbox" id="titleCheck" name="titleCheck" checked>
                    <label for="titleCheck" class='tm-mr-20'>Title</label>       
                    <input type="checkbox" id="AutorCheck" name="AutorCheck">
                    <label for="AutorCheck" class='tm-mr-20'>Autor</label>       
                    <input type="checkbox" id="ContCheck" name="ContCheck">
                    <label for="ContCheck" class='tm-mr-20'>Conteúdo</label>       

                <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                <button class="tm-search-button" type="submit">
                    <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                </button>                                
            </form>
        </div>                
    </div>    
    
    <div class="row tm-row ">
        <div class="keyWords">
            {% for key in keys %}    
                <a href="../search/{{ key }}" class="mb-2 tm-btn tm-btn-primary">{{ key }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}