{% extends 'layout.html' %}

{% block navbar %}
    <ul>
        <li class="tm-nav-item">
            <a href="/" class="tm-nav-link">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="tm-nav-item">
            <a href="../newPost" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                Escrever Post
            </a>
        </li>
        <li class="tm-nav-item">    
            <a href="../keyWords" class="tm-nav-link">
                <i class="fas fa-users"></i>
              Palavras chaves
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row tm-row">
        <div class="col-12">
            <form method="GET" class="form-inline tm-mb-20 tm-search-form tm-radio-search">   
                <input type="radio" id="kwCheck" name="type_search" value="0" checked>
                <label for="kwCheck" class='tm-mr-20 tm-ml-5'>KeyWord</label><br>
                <input type="radio" id="titleCheck" name="type_search" value="1">
                <label for="titleCheck" class='tm-mr-20 tm-ml-5'>Título</label><br>
                <input type="radio" id="AutorCheck" name="type_search" value="2">
                <label for="AutorCheck" class='tm-mr-20 tm-ml-5'>Autor</label>
                <input type="radio" id="Content" name="type_search" value="3">
                <label for="Content" class='tm-mr-20 tm-ml-5'>Conteúdo</label>

                <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                <button class="tm-search-button" type="submit">
                    <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                </button>                                
            </form>
        </div>                
    </div>    

    <div class="row tm-row">
        {% for post in posts %}
            <article class="col-12 col-md-12 tm-post">
                <hr class="tm-hr-primary">
                <a href="/posts/{{ post.pk }}" class="effect-lily tm-post-link tm-pt-10">
                    <h2 class="tm-color-primary tm-post-title">{{ post.title }}</h2>
                </a>                    
                <p>
                    {{ post.content|safe|truncatechars:350 }}
                </p>
                <div class="d-flex justify-content-between">
                    <span class="tm-color-primary">{{post.keyWords}}</span>
                    <span class="tm-color-primary">Created: {{ post.created_at }}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    {% if post.author.get_full_name != "" %}
                        <span class="tm-color-primary">By: {{ post.author.get_full_name }}</span>
                    {% else %}
                        <span class="tm-color-primary">By: {{ post.author.get_username }}</span>
                    {% endif %}
                    <span>Last Update: {{ post.update_at }}</span>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}