{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forum Autvix</title>
    
    {% load static %}

    <!-- <link href="{% static 'Forum/all.min.css' %}" rel="stylesheet" type="text/css"> -->
    <script src="{% static 'Forum/fontawesome_free/js/all.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Forum/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Forum/familySource.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Forum/style.css' %}">
</head>
    
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo">
                    <img src="{% static 'Forum/logos/logo_autvix.png' %}" alt="LogoAutvix" class="img-fluid">
                </div>            
                <h1 class="text-center">Fórum Autvix</h1>
            </div>
                <nav class="tm-nav" id="tm-nav">
                    <li class="tm-nav-item">
                        <a href="{% url 'account_login' %}" class="tm-nav-link">
                            <i class="fas fa-home"></i>
                            Login
                        </a>
                    </li>
                </nav>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Conteudo do site -->
            <h2>Entrar</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Entrar</button>
            </form>

            <!-- Footer -->
            {% if user.is_authenticated %}
                <footer class="row tm-row">
                    <hr class="col-12">
                    <div class="col-md-6 col-12 tm-color-gray">
                        AUTVIX - Todos os direitos reservados
                    </div>
                    <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                        Copyright 2020
                    </div>
                </footer>
            {% endif %}
        </main>
    </div>
    <script src="{% static 'Forum/js/jquery.min.js' %}"></script>
    <script src="{% static 'Forum/js/templatemo-script.js' %}"></script>
</body>
</html>